{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('program') }}
    {{ encore_entry_link_tags('programAdmin') }}
{% endblock %}
{% block body %}
    <h1 class="mt-3">Toutes les séries</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary col-5" href="{{ path('program_new') }}">Ajouter une série</a>
    </div>
    <div class="row col-12 d-flex justify-content-around">
        {% for program in programs %}

            <div class="col-md-3 m-3 p-0  d-flex flex-column">
                <div class=" card d-flex program-card flex-row">
                    <figure class="col-4 p-0 ">
                        <img class="h-100 col-12 p-0" src="{{ program.poster }}" alt="Card image cap">
                    </figure>
                    <div class="card-body overflow-auto">
                        <h4 class="card-title">{{ program.title }}</h4>
                        <p class="card-text ">{{ program.summary }}</p>
                        <p><strong>Acteurs : </strong>{% if program.actors is not empty %}{% set acteurs = [] %}{%  for actor in program.actors %}{% set acteurs = acteurs|merge([actor.name]) %}{% endfor %}{{ acteurs|join(' , ')  }}{% else  %}Aucun acteurs disponible{% endif %}</p>

                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <a class="btn btn-outline-primary col-5" href="{{ path('program_show', {'slug': program.slug}) }}">Voir</a>
                    <a class="btn btn-outline-primary col-5" href="{{ path('program_edit', {'slug': program.slug}) }}">Modifier</a>
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
