{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('program') }}
    {{ encore_entry_link_tags('programAdmin') }}
{% endblock %}
{% block body %}
    <h1 class="my-3">{{ program.title }}</h1>

        <div class=" card d-flex program-card flex-row  offset-2 col-8 h-50 p-0">
            <figure class="col-4 p-0 m-0">
                <img class="h-100 col-12 p-0" src="{{ program.poster }}" alt="Card image cap">
            </figure>
            <div class="card-body overflow-auto">
                <h4 class="card-title">{{ program.title }}</h4>
                <p class="card-text "> pays de production: {{ program.country }}</p>
                <p class="card-text ">année de production: {{ program.year }}</p>
                <p class="card-text ">{{ program.summary }}</p>
                <strong>Acteur(s) :</strong>
                <ul>
                    {% for actor in program.actors %}
                        <li><a href="{{ path('actor_show', {slug: actor.slug}) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    <div class="d-flex flex-column">
        <a class="btn btn-outline-primary col-5" href="{{ path('program_edit', {'slug': program.slug}) }}">Modifier</a>
        {{ include('program/_delete_form.html.twig') }}
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary col-5" href="{{ path('program_index') }}">Retour aux séries</a>

        </div>
    </div>

{% endblock %}
