{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1>{{ program.title ~ ' : saison ' ~ season.number }}</h1>
    <div class="card d-flex flex-row w-50">
        <figure class="col-5 p-0">
            <img class="w-100" src="{{ program.poster }}" alt="Card image cap">
        </figure>
        <div class="card-body col-7">
            <h4 class="card-title">{{ 'Épisode ' ~ episode.number }} : {{ episode.title }}</h4>
            <p class="card-text ">{{ episode.synopsis }}</p>
            <div class="d-flex justify-content-around">
                <a class="btn btn-outline-primary" href="{{ path('wild_show_season', {programName: program.title, seasonId: season.id}) }}">voir la saison</a>
                <a class="btn btn-outline-primary" href="{{ path('wild_show_program', {programName: program.title}) }}">voir la serie</a>
            </div>

        </div>
    </div>
    {% if is_granted('ROLE_SUBSCRIBER') %}
    <div class="d-flex flex-column justify-content-center user-commentary">
        <h4 class="text-center my-3">Laisser un commentaire:</h4>
        {{ include('comment/_form.html.twig') }}
    </div>
    {% endif %}
    <div class="d-flex flex-column align-items-center col-12 comments">
            <h4 >Commentaires:</h4>
            <div class="d-flex flex-column col-6 ">
                {% for comment in comments %}
                    <div class="user-commentary my-4 border ">
                        <div class="p-3 bg-dark d-flex justify-content-between">
                            <p>note {{ comment.rate }}/10</p>
                            <p >{{ comment.author.username ~ ' posté le ' ~ comment.date.format('Y-m-d H:i:s') }}</p>
                        </div>
                        <p class="p-3 bg-orange">{{ comment.comment }}</p>
                        {% if app.user %}
                        {% if app.user.email is same as(comment.author.username) %}
                            <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                <button class="btn">Delete</button>
                            </form>
                        {%  endif %}
                        {% endif %}


                    </div>

                {% endfor %}
            </div>
    </div>
    <div class="my-5 d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
