{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}tous les acteurs{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Tous les acteurs de la table actor : </h1>
    <ul>
        {% for actor in actors %}
            <li>
                <p>{{ actor.name }}</p>
                <a class="btn btn-outline-primary" href="{{ path('wild_show_actor', {id: actor.id}) }}">voir l'acteur</a>
            </li>

        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

    <div class="my-5 d-flex justify-content-center">
        <a class="btn btn-outline-primary"  href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
