{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}{{ programName }}{% endblock %}

{% block body %}
    <h1>Votre série : </h1>
    <div class="card d-flex flex-row w-50">
        <figure class="col-5 p-0">
            <img class="w-100" src="{{ program.poster }}" alt="Card image cap">
        </figure>
        <div class="card-body col-7">
            <h4 class="card-title">{{ program.title }}</h4>
            <p class="card-text ">- Catégorie : {{ program.category.name }}</p>
            <p class="card-text ">{{ program.summary }}</p>
            <strong>Acteur(s) :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li>{{ actor.name }} </li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul>
        <p>Liste des saisons:</p>
        {% for season in seasons %}
            <ul>
                <li>
                    <p>Saison {{ season.number }}</p>
                    <p>date de sortie : {{ season.year }}</p>
                    <p>{{ season.description }}</p>
                    <a class="btn btn-outline-primary" href="{{ path('wild_show_season', {programName: program.title, seasonId: season.id}) }}">voir la saison</a>
                </li>
            </ul>
        {% endfor %}
    </ul>
    <div class="my-5 d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
