{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}{{ programName }}{% endblock %}

{% block body %}
    <h1>{{ programName ~ ': saison ' ~ season.number }}</h1>
    <div class="card d-flex flex-row w-50">
        <figure class="col-5 p-0">
            <img class="w-100" src="{{ program.poster }}" alt="Card image cap">
        </figure>
        <div class="card-body col-7">
            <h4 class="card-title">{{ 'saison ' ~ season.number }}</h4>
            <p class="card-text ">- Date de sortie : {{ season.year }}</p>
            <p class="card-text ">{{ season.description }}</p>
        </div>
    </div>
    <ul>
        <p>Liste des épisodes:</p>
        {% for episode in episodes %}
            <ul>
                <li>
                    <p> Épisode {{ episode.number }} : {{ episode.title }}</p>
                    <a class="btn btn-outline-primary" href="{{ path('wild_show_episode', {id: episode.id}) }}">voir l'épisode</a>
                </li>
            </ul>
        {% endfor %}
    </ul>
    <div class="my-5 d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
