{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('programAdmin') }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}
{% block body %}
    <h1 class="m-3">Mettre à jour un acteur</h1>
    <div class="d-flex justify-content-center flex-column">
        {{ include('actor/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <div class="d-flex align-items-center">
        <a class="btn btn-outline-primary col-5" href="{{ path('actor_index') }}">Retour aux acteurs</a>
    </div>

{% endblock %}
